@font-face {
  font-family: 'PT Mono';
  src: url('./../../fonts/PT_Mono/PTMono-Regular.ttf');
}
@font-face {
  font-family: 'Aref Ruqaa';
  src: url('./../../fonts/Aref_Ruqaa/ArefRuqaa-Regular.ttf');
}
